*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: antiquewhite;

}
.h1align{
    font-size: 200%;
    color:brown;
    text-align: center;
    margin-top: 50px;


}
.calculator {
    width: 200px;
    margin: auto;
    padding: 20px;
    border: 1px solid #c11c4879;
    border-radius: 5px;
    text-align: center;
    margin-top: 40px;
}
.calculator input{
            width: 75%;
            
            margin-bottom: 10px;
            padding: 10px;
            font-size: 16px;
            border-radius: 5px;
            border: 1px solid #422222;
}
.buttons button{
    margin-top: 20px;
    padding:10px;
    width: 20%;
    border-radius: 50%;
}
